<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Modifier Ligne Stock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <div class="card">

        <h2>✏️ Modifier un stock</h2>
        <p class="subtitle">Modifiez les informations</p>

        <form method="POST" action="/stocks/update/{{ stock.id }}" 
      onsubmit="return confirm('Confirmer la modification ?')">
            <div class="form-group">
                <div class="form-row">
                    <label>Date du jour</label>
                    <input name="created_at" type = "date" value="{{ stock.created_at }}">
                </div>
                <div class="form-row">
                    <label>Nom du produit</label>
                    <select name="produit">
                        <option value="cajou" {% if stock.produit == "cajou" %}selected{% endif %}>cajou</option>
                        <option value="karite" {% if stock.produit == "karite" %}selected{% endif %}>karite</option>
                        <option value="riz" {% if stock.produit == "riz" %}selected{% endif %}>riz</option>
                        <option value="soja" {% if stock.produit == "soja" %}selected{% endif %}>soja</option>
                        <option value="maïs" {% if stock.produit == "maïs" %}selected{% endif %}>maïs</option>
                        <option value="sacherie" {% if stock.produit == "sacherie" %}selected{% endif %}>sacherie</option>
                    </select>
                </div>
                <div class="form-row">
                    <label>Type de mouvement</label>
                    <input name="type_mouvement" value="{{ stock.type_mouvement }}">
                </div>
                <div class="form-row">
                    <label>Date Entrée/Sortie</label>
                    <input name="date_mouvement" type = "date" value="{{ stock.date_mouvement }}">
                </div>
                <div class="form-row">
                    <label>Quantite Poids</label>
                    <input name="quantite_poids" value="{{ stock.quantite_poids }}">
                </div>
                <div class="form-row">
                    <label>Nombre sacs</label>
                    <input name="nombre_sacs" value="{{ stock.nombre_sacs }}">
                </div>
                <div class="form-row">
                    <label>Campagne</label>
                    <input name="campagne" value="{{ stock.campagne }}">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="edit-btn">💾 Enregistrer</button>
                <a href="/stocks" class="cancel-btn">Annuler</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>